<ion-view title="{{ room_ctrl.current_room }}" ng-controller="RoomController as room_ctrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ room_ctrl.current_room }}</h1>
    <button class="button button-assertive" ng-click="leaveRoom()">Leave</button>
  </header>

  <ion-content class="has-header padding">

    <div class="card" ng-show="currentRole=='picker'">
      <div class="item item-divider">
        {{data.word}}
      </div>
      <div class="item item-text-wrap">
        {{data.meaning}}
      </div>
      <div class="button-bar">
        <a class="button button-assertive" ng-click="getWord()">Reject</a>
        <a class="button button-balanced" ng-click="selectWord()">Select</a>
      </div>
    </div>
    <div ng-show="word">
        {{word}}
    </div>
    <div class="list" id="messages" ng-if="room_ctrl.messages.length > 0">
    <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in room_ctrl.messages">
      <div class="msg">
        <div class="details padding">
          <p>
            <div class="user">{{ msg.user }}</div>
            <div class="message">{{ msg.text }}</div>
          </p>
          <small>{{ humanize(msg.time) }}</small>
        </div>
      </div>
    </li>
  </div>

  <div class="card" ng-if="!room_ctrl.messages.length">
    <div class="item item-text-wrap">
      Waiting for players...
    </div>
  </div>

</ion-content>

<footer ng-show="toggleInput" class="bar bar-footer bar-positive item-input-inset has-content">
  <label class="item-input-wrapper">
    <input type="text" id="message" name="message" ng-model="room_ctrl.message" placeholder="Type your definition here">
  </label>
  <a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>
</footer>

</ion-view>
