<ion-view title="{{ room_ctrl.current_room }}" ng-controller="RoomController as room_ctrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ room_ctrl.current_room }}</h1>
    <button class="button button-assertive" ng-click="leaveRoom()">Leave</button>
  </header>

  <ion-nav-view name="room-mainGame"></ion-nav-view>
  <ion-nav-view name="room-results"></ion-nav-view>
  <!-- ng-show="toggleInput" -->
  <!-- <footer  class="bar bar-footer bar-positive item-input-inset has-content">
  <label class="item-input-wrapper">
    <div class="card">

    </div>
  </label>

</footer> -->

</ion-view>
